
body {
    width: 80vw;
    height: 80vh;
    background-color: grey;
    background-image: url("bild/Europe_countries_map_en.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Sigmar, cursive;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.quiz-main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    height: 50vh;
    width: 50vw;
}

.card {
    display: flex;
    align-self: auto;
    justify-self: center;
    transition: 1s linear;
    backface-visibility: hidden;
}


.question {
    backface-visibility: inherit;
    background-color: lightseagreen;
    text-align: center;
    align-content: center;
    height: 15em;
    width: 15em;
    z-index: 2;
}

.answer {
    text-align: center;
    backface-visibility: inherit;
    align-content: center;
    background-color: white;
    height: 15em;
    width: 15em;
    position: absolute;
    align-self: flex-start;
    z-index: 1;
    transform: rotateY(180deg);
}

.card:hover {
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}


@media screen and (max-width: 430px) {

    body {
        width: 90vw;
        height: auto;
    }
    .quiz-main {
        width: 90%;
        height: auto;
    }
    .question, .answer {
        width: 5em;
        height: 5em;
    } {}
}

